<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
<<<<<<<< HEAD:views/index.ejs
    <title>ArtMart</title>
========
    <title>ArtMart!</title>
>>>>>>>> 0653b16eb183dd7f9d7ea74660120c2aa0bdc5b2:views/artEdit.ejs
</head>
<body>
    
</body>
</html>