<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('templates/metadata') -%>
    <title>Editor - ArtMart</title>

    <style>
        iframe {
            border: none;
            outline: none;
            border: #039be5 3px solid;
            border-radius: 5px;
            justify-content: center;
        }
    </style>
</head>
<body>
    <%- include('templates/navbar') -%>
    <div class="container center-align">
        <h1>Art Editor</h1>
        <iframe width="800" height="600" src="/editor/plugin.html"></iframe>
    </div>
    <%- include('templates/footer') -%>
</body>
</html>