<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('templates/metadata') -%>
    <title>Editor - ArtMart</title>

    <style>
        canvas {
            border: none;
            outline: none;
            border: #039be5 3px solid;
            border-radius: 5px;
            justify-content: center;
            width: 50% !important;
            height: auto !important;
            image-rendering: pixelated;
        }
    </style>
</head>
<body>
    <%- include('templates/navbar') -%>
    <div class="container center-align">
        <h1>Art Editor</h1>
        
        <div id="canvas-container">

        </div>
    </div>
    <%- include('templates/footer') -%>

    <script src="/editor/p5.js"></script>
    <script src="/editor/artEditor.js"></script>
</body>
</html>