<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('templates/metadata') -%>
    <title>Gallery - ArtMart</title>

    <style>
        .gallery-img {
            width: 30%;
            image-rendering: pixelated;
            border: #039be5 3px solid;
            border-radius: 5px;
            margin: 5px;
        }
    </style>
</head>
<body>
    <%- include('templates/navbar') -%>
    <div class="container center-align">
        <h1>Gallery</h1>
        <img class="gallery-img" 
            src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAQCAYAAAAf8/9hAAAAAXNSR0IArs4c6QAAACtJREFUOE9jZGBg+M9AHGDEpgwkOGrAaBhQJR0Qlw5xqMKaPEkxcdQABgYAMbsKEcOaeVcAAAAASUVORK5CYII=">
        <img class="gallery-img" 
            src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAQCAYAAAAf8/9hAAAAAXNSR0IArs4c6QAAACtJREFUOE9jZGBg+M9AHGDEpgwkOGrAaBhQJR0Qlw5xqMKaPEkxcdQABgYAMbsKEcOaeVcAAAAASUVORK5CYII=">
        <img class="gallery-img" 
            src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAQCAYAAAAf8/9hAAAAAXNSR0IArs4c6QAAACtJREFUOE9jZGBg+M9AHGDEpgwkOGrAaBhQJR0Qlw5xqMKaPEkxcdQABgYAMbsKEcOaeVcAAAAASUVORK5CYII=">
            <img class="gallery-img" 
            src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAQCAYAAAAf8/9hAAAAAXNSR0IArs4c6QAAACtJREFUOE9jZGBg+M9AHGDEpgwkOGrAaBhQJR0Qlw5xqMKaPEkxcdQABgYAMbsKEcOaeVcAAAAASUVORK5CYII=">
        <img class="gallery-img" 
            src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAQCAYAAAAf8/9hAAAAAXNSR0IArs4c6QAAACtJREFUOE9jZGBg+M9AHGDEpgwkOGrAaBhQJR0Qlw5xqMKaPEkxcdQABgYAMbsKEcOaeVcAAAAASUVORK5CYII=">
        <img class="gallery-img" 
            src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAQCAYAAAAf8/9hAAAAAXNSR0IArs4c6QAAACtJREFUOE9jZGBg+M9AHGDEpgwkOGrAaBhQJR0Qlw5xqMKaPEkxcdQABgYAMbsKEcOaeVcAAAAASUVORK5CYII=">
            <img class="gallery-img" 
            src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAQCAYAAAAf8/9hAAAAAXNSR0IArs4c6QAAACtJREFUOE9jZGBg+M9AHGDEpgwkOGrAaBhQJR0Qlw5xqMKaPEkxcdQABgYAMbsKEcOaeVcAAAAASUVORK5CYII=">
        <img class="gallery-img" 
            src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAQCAYAAAAf8/9hAAAAAXNSR0IArs4c6QAAACtJREFUOE9jZGBg+M9AHGDEpgwkOGrAaBhQJR0Qlw5xqMKaPEkxcdQABgYAMbsKEcOaeVcAAAAASUVORK5CYII=">
        <img class="gallery-img" 
            src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAQCAYAAAAf8/9hAAAAAXNSR0IArs4c6QAAACtJREFUOE9jZGBg+M9AHGDEpgwkOGrAaBhQJR0Qlw5xqMKaPEkxcdQABgYAMbsKEcOaeVcAAAAASUVORK5CYII=">
    </div>
    <%- include('templates/footer') -%>
</body>
</html>