<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('templates/metadata') -%>
    <title>Gallery - ArtMart</title>
</head>
<body>
<!-- <%- include('user/show', {user: user}); % -->
</body>
</html>