<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('templates/metadata') -%>
    <title>ArtMart</title>
</head>
<body>
    <div class="container center-align">
        <!-- Title screen -->
        <br>
        <br>
        <br>
        <br>
        <img src="logo.png" width="128">logo</img>
        <h2>ArtMart</h2>
        <br>
        <br>
        <a href="/login" class="btn waves-effect waves-light blue">Login</a>
        <br>
        <br>
    </div>

    <%- include('templates/footer') -%>
</body>
</html>