<nav class="cyan">
    <div class="nav-wrapper row cyan" style="margin-left: 2%;">
        <a href="/app/profile"><i class="material-icons" style="font-size: 2.5em;">account_circle</i></a>
    </div>
</nav>